@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddSkill", "Skill", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Deneyim Ekleme Sayfası</h4>
                <div class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Yetenek Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Şirket Adı" name="Title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Değer</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Oran" name="Value">
                    </div>


                    <button type="submit" class="btn btn-info mr-2">Gönder</button>
                    <a href="/Experience/Index" class="btn btn-dark">İptal</a>

                </div>
            </div>
        </div>
    </div>
}
